// Colours for show_type periods

$color-after-dark: #3b4251
$color-culture: #ed6346
$color-daytime: #e50052
$color-news: #009994
$color-sport: #009fe3

@mixin show-show_type-circle
  &:before
    @extend .ion
    color: darken($color-grey, 4%)
    content: "\f21b"
    padding-left: 1px
    padding-right: 4px
    font-size: 0.95em
  &:before:hover
    // Prevent anchor underline leak
    text-decoration: none !important

.show_type-icon
  @include show-show_type-circle
  &:before
    padding-right: 6px

// Circles in show_list.html
.show-list-show_type, .person-show-show_type, .show_type-icon
  &.show_type-after-dark:before
    color: $color-after-dark !important
  &.show_type-culture:before, &.show_type-uncut:before
    color: $color-culture !important
  &.show_type-daytime:before, &.show_type-previews:before
    color: $color-daytime !important
  &.show_type-news:before
    color: $color-news !important
  &.show_type-sport:before
    color: $color-sport !important

// Background of show_type meta-col col
.show-show_type
  $opacity-jigging: 0.8
  .show_type-after-dark
    background: rgba($color-after-dark, $opacity-jigging)
  .show_type-culture, .show_type-uncut
    background: rgba($color-culture, $opacity-jigging)
  .show_type-daytime, .show_type-previews
    background: rgba($color-daytime, $opacity-jigging)
  .show_type-news
    background: rgba($color-news, $opacity-jigging)
  .show_type-sport
    background: rgba($color-sport, $opacity-jigging)

// Breadcrumbs
@include breadcrumb-color("after-dark", $color-after-dark)
@include breadcrumb-color("culture", darken($color-culture, 20%))
@include breadcrumb-color("uncut", darken($color-culture, 20%))
@include breadcrumb-color("daytime", darken($color-daytime, 30%))
@include breadcrumb-color("previews", darken($color-daytime, 30%))
@include breadcrumb-color("news", darken($color-news, 10%))
@include breadcrumb-color("sport", $color-sport)

// Show_type pages
@include breadcrumb-color("show_types", $color-show_types)
