---
layout: default
title: Student Radio Awards
group: top
body_class: header-nobr
current: sras
---

<div class="banner-header fellows-header">
    <h1>{{ page.title }}</h1>
    <i class="banner-header-icon fas fa-trophy"></i>
</div>

<div class="wrapper">
    <hr style="margin-bottom: 10px">
    <div class="container">
        {% for sra in site.sras reversed %}
            <div class="row" style="margin: 0">
                <div class="people-grid col-md-2" style="align-self: center;">
                    <div class="title">
                        <a href="/years/">{{ sra.year }}</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <ul style="list-style: none">
                        {% for award in sra.awards %}
                          <li>
                              <div class="name">
                                  {% case award.level %}
                                    {% when 'Gold' %}
                                      <i class="fas fa-trophy" style="color: #FFD700;"></i>
                                    {% when 'Silver' %}
                                      <i class="fas fa-trophy" style="color: #C0C0C0;"></i>
                                    {% when 'Bronze' %}
                                      <i class="fas fa-trophy" style="color: #CD7F32;"></i>
                                  {% endcase %}

                                  {{ award.award_name }}
                                  {% if award.awarded_to %}
                                    ({{ award.awarded_to }})
                                  {% endif %}
                              </div>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr style="margin-bottom: 10px">
        {% endfor %}
    </div>
</div>
