---
layout: default
body_class: section-archives layout-show
---

{% assign show = page %}

<div class="breadcrumbs">
  <div class="breadcrumb-inner">

    <div class="breadcrumb-controls">
      <a {% if show.seq_previous %}href="{{ show.seq_previous.url }}" class="enabled"{% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %} title="Previous Show"><i class="ion-chevron-left"></i></a>
      <a {% if show.seq_next %}href="{{ show.seq_next.url }}" class="enabled"{% else %}href="{{ show.year_page.url }}" class="disabled"{% endif %} title="Next Show"><i class="ion-chevron-right"></i></a>
    </div>

    <ul class="breadcrumb-list">
      <li class="breadcrumb">
        <a href="/years/">
          Archives
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.year_page.decade }}">
        <a href="{{ show.year_page.url }}">
          {{ show.year_page.title }}
        </a>
      </li>
      <li class="breadcrumb breadcrumb-{{ show.year_page.decade }}-child">
        <a href="{{ show.url }}">
          {{ show.title | escape_once }}
        </a>
      </li>
    </ul>

  </div>
</div>

<div class="show">
  <div class="show-wrap show-row debug" data-debug-toggle>
    {% include def-data.html def=site.data.defs.show model='show' %}
  </div>

  {% if show.date_start == null %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_basic_details_missing.html %}
    </div>
  </div>
  {% endif %}

  <div class="show-wrap show-row">
    <div class="show-info">
      <header class="show-header">
        <h1 class="show-title">{{ show.title | escape_once }}</h1>

        <div class="meta-row">
          <!-- {% if show.student_written %}
            <i class="meta-icon fas fa-pencil-alt" title="Student Written"></i>
          {% elsif show.playwright_type == "devised" %}
            <i class="meta-icon fas fa-users"></i>
          {% else %}
            <i class="meta-icon fas fa-book"></i>
          {% endif %}
          <div class="meta-col show-playwright show-playwright-{{ show.playwright_type }}">
            <p>
              {% if show.playwright_type != "unknown" %}
                {% if show.playwright %}
                <a href="/playwrights/#{{ show.playwright | anchor }}">
                  {{ show.playwright_formatted | escape_once }}
                </a>
                {% else %}{{ show.playwright_formatted | escape_once }}{% endif %}
              {% else %}
                <span class="unknown">Playwright Unknown</span>
              {% endif %}

              {% if show.translator %}
                <br /><span class="translator">Translated by {{ show.translator | escape_once }}</span>
              {% endif %}

              {% if show.adaptor %}
                <br /><span class="adaptor">Adapted by {{ show.adaptor | escape_once }}</span>
              {% endif %}
            </p>
          </div> -->
          <i class="meta-icon fas fa-bars"></i>
          <div class="meta-col show-show_type">
            <p class="show_type-{{ show.show_type | downcase | replace:" ","-" }}">
            {% if show.company %}
              <a href="{{ show.show_type_path }}">{{ show.company | escape_once }}</a>
            {% elsif show.show_type %}
              <a href="{{ show.show_type_path }}">{{ show.show_type }}</a>
            {% else %}
              <span class="unknown">Show Type Unknown</span>
            {% endif %}
            </p>
          </div>
          <i class="meta-icon fas fa-calendar-alt"></i>
          <div class="meta-col show-date">
            <p>{% if show.date_start %}{% include liquid/date_range.html %}{% else %}<span class="unknown">Dates Unknown</span>{% endif %}</p>
          </div>
          <i class="meta-icon fas fa-home"></i>
          <div class="meta-col show-venue">
            <p>
            {% if show.venue and show.venue != "unknown" %}
              <a href="{{ show.venue_path }}">{{ show.venue }}</a>
            {% else %}
              <span class="unknown">Venue Unknown</span>
            {% endif %}
            </p>
          </div>
        </div>

      </header>
      <article class="show-synopsys">
        {{ content }}

        {% if show.trivia %}
          {% include trivia-list.html trivia=show.trivia %}
        {% elsif show.ignore_missing != true %}
          {% include boxes/show_facts_missing.html %}
        {% endif %}
      </article>

      {% unless show.ignore_missing %}{% include boxes/show_assets_missing.html %}{% endunless %}


    </div>
    <div class="show-poster">
      {% if show.poster %}
        <img src="{{ show.poster.image.poster_large }}" alt="{{ show.title | escape_once }} poster" />
      {% else %}
        {% unless show.ignore_missing %}{% include boxes/show_poster_missing.html %}{% endunless %}
      {% endif %}
    </div>

    {% if show.links %}
      <div class="show-links">
        {% include link-list.html links=show.links %}
      </div>
    {% endif %}

  </div>

  {% unless show.ignore_missing %}
  <div class="show-wrap show-row">
    <div class="col-full">
      {% include boxes/show_photos_missing.html %}
    </div>
  </div>
  {% endunless %}


<!--   <div class="show-assets-outer">

  </div> -->

  <div class="show-wrap show-row">
    <section class="show-cast debug-container">
      <div class="debug-abs-top-left" data-debug-toggle title="Number of cast">{{ show.cast.size }}</div>
      {% unless show.ignore_missing and show.cast.size == null %}<h3>Presenters</h3>{% endunless %}
      {% if show.cast_incomplete == true %}
        {% unless show.ignore_missing %}
          {% include boxes/show_cast_short.html cast_note=show.cast_note %}
        {% endunless %}
      {% endif %}
      {% if show.cast == null %}
        {% unless show.ignore_missing %}
          {% include boxes/show_cast_missing.html %}
        {% endunless %}
      {% else %}
        {% include person_list.html people=show.cast enable_role_icons=false %}
      {% endif %}
    </section>
    <section class="show-crew debug-container">
      <div class="debug-abs-top-left" data-debug-toggle title="Nunber of crew">{{ show.crew.size }}</div>
      {% unless show.ignore_missing and show.crew.size == null %}<h3>Crew</h3>{% endunless %}
      {% if show.crew.size < site.show_low_crew or show.crew_incomplete == true %}
        {% unless show.ignore_missing %}
          {% include boxes/show_crew_short.html crew_note=show.crew_note %}
        {% endunless %}
      {% endif %}
      {% if show.crew == null %}
        {% unless show.ignore_missing %}
          {% include boxes/show_crew_missing.html %}
        {% endunless %}
      {% else %}
        {% include person_list.html people=show.crew enable_role_icons=true %}
      {% endif %}
    </section>
  </div>

</div>

<script type="text/javascript">
// Reversed to make sense with direction
var jekyll_page_up = "/years/{{ show.year }}";
var jekyll_page_previous = "{{ show.seq_previous.url }}";
var jekyll_page_next = "{{ show.seq_next.url }}";
</script>
